<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>ZHEN - home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono|Muli">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body style="background-color:#BFDAF9;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
          <a class="navbar-brand" href="#" style="color:#072a46;" id="zhen-logo-blue">ZHEN 真</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/templates/index.html" style="color:#0c385a;">home ⊹</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/templates/about-me.html" style="color:#0c385a;">about me ᝰ.ᐟ</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#385b76;">
                  archive...
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" style="color:#4a7ca3;">vids</a></li>
                  <li><a class="dropdown-item" href="#" style="color:#4a7ca3;">media</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#" style="color:#4a7ca3;">github</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#385b76;">
                  reviews 𖦹
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" style="color:#4a7ca3;">manga</a></li>
                  <li><a class="dropdown-item" href="#" style="color:#4a7ca3;">webtoons</a></li>
                  <li><a class="dropdown-item" href="#" style="color:#4a7ca3;">manhwa</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#" style="color:#4a7ca3;">books</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#" style="color:#4a7ca3;">shows</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="color:#0c385a;">contact ✆</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder=". . ." aria-label="Search">
              <button class="btn btn-outline-success" type="submit">⌕</button>
            </form>
          </div>
        </div>
      </nav>
      <div id="top-container">
          <div id="abt-me-name-prn">
          <h1 id="top-name-text">juliana li</h1>
          <p id="abt-me-prn">(she/they)</p>
        </div>
          <div id="top-img-container"> 
            <img class="abt-me-top-img" src="https://i.pinimg.com/736x/59/36/5f/59365f1ce4be4fdb6bf9f5a0c24f275c.jpg">
            <img class="abt-me-top-img" src="https://i.ebayimg.com/images/g/ASsAAOSwuXlhNdtK/s-l1200.webp">
            <img class="abt-me-top-img" src="https://pbs.twimg.com/media/GQBEj48bEAAh1MU?format=jpg&name=large">
            <img class="abt-me-top-img" src="https://pbs.twimg.com/media/E_JRcxdVIAIhu2t.jpg">
            <img class="abt-me-top-img" src="https://i.pinimg.com/736x/0d/29/b1/0d29b17a8b99f347c02b86c123161b04.jpg">
          </div>
      </div>
      <div id="abt-me-info-boxes">
        <div class="basic-bg-font-style-blue" id="abt-me-basics">
            <h1 style="font-size: 30px;"><b>basics!</b></h1>
            <p>i'm a rising junior (11th grade) in high school and i'm currently 16! i'm chinese american 
                (probably 100% chinese if i took a dna test...) and my chinese name is 李俞真. i've always lived 
                in the bay but i'd love to travel or live elsewhere when i'm older.</p>
            <p> if i were to describe myself, i'd say i'm hard-working, independent, and self-aware, and as a 
                person, i'm easily humored, loud when you get to know me, and #real LOL</p>
        </div>
        <div class="basic-bg-font-style-blue" id="abt-me-likes"> 
            <h1 style="font-size: 30px;"><b>likes!</b></h1>
            <ul>
                <li>txt, zb1, woodz, lexie liu, dean, momma, 福克斯, baek yerin, the volunteers, dpr live, se so neon</li>
                <li>SEAFOOD. oysters, seafood boil, squid, calamari, sushi, sashimi, crab, my mom's soy sauce fish</li>
                <li>to visit new places and wander</li>
                <li>sweet romance, silly shoujo romance (i LOVE love)</li>
                <li>kimi ni todoke, when i fly towards you, lookism, namaikizakari, your throne</li>
                <li>spending time with my friends </li> 
                <li>making creatives (video edits, post graphics)</li>
            </ul>
        </div>
        <div class="basic-bg-font-style-blue" id="abt-me-hobbies">
            <h1 style="font-size: 30px;"><b>hobbies!</b></h1>
            <ul>
                <li>reading, i mostly read webcomics (webtoons, manhwa, manhua, manga) but i do enjoy reading physical books as well!</li>
                <li>baking and cooking, i personally believe my kimchi fried rice and kimchi stew are 👌👌</li>
                <li>watching reality and variety tv shows, HIGHLY RECOMMEND HEART SIGNAL VERS. 2 and YES, I DO SEASON 4 (喜欢你我也是 第四季)</li>
                <li>collecting mini legos (daiso mini legos & souvenirs)</li>
                <li>playing mobile games (recently monthly idol has taken a hold of me...)</li>
            </ul>
        </div>
        <div class="basic-bg-font-style-blue" id="abt-me-dislikes">
            <h1 style="font-size: 30px;"><b>dislikes...</b></h1>
            <ul>
                <li>bitter melon, I HATE IT</li>
                <li>smoking & vaping, i cannot stand the smell</li>
                <li>ppl who are extremely judgemental and are not considerate of others</li>
                <li>extremely cocky ppl...</li>
                <li>Feeders. I hate them with all my heart.</li>
                <li>stories with main characters who can't think for themselves and are just weak mentally</li>
                <li>stories with toxic, obsessive, and possessive male leads #BOOOOO #LAME</li>
            </ul>
        </div>
        <div class="basic-bg-font-style-blue" id="abt-me-activities">
            <h1 style="font-size: 30px;"><b>i'm part of...</b></h1>
            <ul>
                <li>key club, D2S PURPLE LLAMAS I KNOW THAT'S RIGHT. district fundraising projects coordinator and school club vp of fundraising </li>
                <li>google codenext, not a coding boss but it's okay</li>
                <li>debate club, parli debater 😢 my partner is great</li>
                <li>ebaldc vita, tax volunteer helping ppl maximize and save refunds</li>
                <li>yr media, bridge student learning about journalism, discussing things i think about</li>
            </ul>
        </div>
        <div class="basic-bg-font-style-blue" id="abt-me-songs">
            <h1 style="font-size: 30px;"><b>songs!</b></h1>
            <ol>
                <li>maze in the mirror - txt</li>
                <li>violet - the volunteers</li>
                <li>flutter - julie</li>
                <li>ghosting - txt</li>
                <li>lullaby - woodz</li>
                <li>hades in the dead of winter - my dead girlfriend</li>
                <li></li>
            </ol>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>