/* INDEX CSS GOES BELOW HERE*/

#zhen-logo-green:hover{
    animation-name: colorpop;
    animation-duration: 1s;
}

@keyframes colorpop{
    0% {color:#0d3c1f}
    50% {color:#87b197;}
    100% {color:#0d3c1f}
}

#homepage-top{
    font-family: Georgia;
    background-image: linear-gradient(#15522C, #CAF8D7);
}

#home-hello{
    font-size: 100px;
    font-style: italic;
    font-weight: bold;
    padding-left: 5%;
    padding-top: 5%;
    color: rgb(244, 251, 242);
}

#home-top-message{
    display: flex;
    justify-content: flex-end;
    font-size: 80px;
    font-weight: bold;
    margin-right: 5%; 
    padding-bottom: 100px; 
    color: rgb(244, 251, 242);
}

.basic-bg-font-style{
    margin: 2.5%;
    padding: 50px;
    border-radius: 15px;
    background-color: rgb(244, 251, 242);
    font-size: 30px;
    font-family: Muli, sans-serif;
    color: #0d3c1f;
}

#home-content{
    display:flex;
    flex-wrap: wrap;
}

#home-pages-list{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 45%
}

#home-intro{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: 45%
}


/* ABOUT ME CSS GOES BELOW HERE*/
#abt-me-name-prn{
    display: flex;
    flex-wrap: wrap;
}

#top-name-text{
    color:#104C7A;
    margin-top: 50px;
    margin-left: 60px;
    font-size: 100px;
    font-weight: bold;
    font-family: Prompt, sans-serif;
    background-color:aliceblue;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
}

#abt-me-prn{
    margin-top: 145px;
    margin-left: 20px;
    color:#104C7A;
    font-size: 24px;
    font-family: Prompt, sans-serif;
    font-style:italic;
}

#top-img-container{
    margin-top: 20px;
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
}

.abt-me-top-img{
    height: 250px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#abt-me-info-boxes{
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 10px;
}

.basic-bg-font-style-blue{
    padding: 50px;
    background-color: aliceblue;
    font-size: 20px;
    font-family: Prompt, sans-serif;
    color:#104C7A;
}

#abt-me-basics{
    margin-right: 1%;
    margin-bottom: 2.5%;
    width: 49%;
}

#abt-me-likes{
    margin-left: 1%;
    margin-bottom: 2.5%;
    width: 49%;
}
#abt-me-hobbies{
    margin-right: 1%;
    margin-bottom: 2.5%;
    width: 49%;
}

#abt-me-dislikes{
    margin-left: 1%;
    margin-bottom: 2.5%;
    width: 49%;
}
#abt-me-activities{
    margin-right: 1%;
    margin-bottom: 2.5%;
    width: 49%;
}

#abt-me-songs{
    margin-left: 1%;
    margin-bottom: 2.5%;
    width: 49%;
}