/* INDEX CSS GOES BELOW HERE*/

#zhen-logo-green:hover{
    animation-name: greencolorpop;
    animation-duration: 1s;
}

@keyframes greencolorpop{
    0% {color:#0d3c1f}
    50% {color:#87b197;}
    100% {color:#0d3c1f}
}

#homepage-top{
    font-family: Georgia;
    background-image: linear-gradient(#15522C, #CCEBD5);
}

#home-hello{
    font-size: 100px;
    font-style: italic;
    font-weight: bold;
    padding-left: 5%;
    padding-top: 5%;
    color: rgb(244, 251, 242);
}

#home-top-message{
    display: flex;
    justify-content: flex-end;
    font-size: 80px;
    font-weight: bold;
    margin-right: 5%; 
    padding-bottom: 100px; 
    color: rgb(244, 251, 242);
}

.basic-bg-font-style{
    margin: 2.5%;
    padding: 50px;
    border-radius: 15px;
    background-color: rgb(244, 251, 242);
    font-size: 30px;
    font-family: Muli, sans-serif;
    color: #0d3c1f;
}

#home-content{
    display:flex;
    flex-wrap: wrap;
}

#home-pages-list{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 45%
}

#home-intro{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: 45%
}


/* ABOUT ME CSS GOES BELOW HERE*/
#zhen-logo-blue:hover{
    animation-name: bluecolorpop;
    animation-duration: 1s;
}

@keyframes bluecolorpop{
    0% {color:#104C7A}
    50% {color:#b9cfdf;}
    100% {color:#104C7A}
}

#abt-me-name-prn{
    display: flex;
    flex-wrap: wrap;
}

#top-name-text{
    color:#104C7A;
    margin-top: 50px;
    margin-left: 60px;
    font-size: 100px;
    font-weight: bold;
    font-family: Prompt, sans-serif;
    background-color:aliceblue;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
}

#abt-me-prn{
    margin-top: 145px;
    margin-left: 20px;
    color:#104C7A;
    font-size: 24px;
    font-family: Prompt, sans-serif;
    font-style:italic;
}

#top-img-container{
    margin-top: 20px;
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
}

.abt-me-top-img{
    height: 250px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#abt-me-info-boxes{
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 10px;
}

.basic-bg-font-style-blue{
    padding: 50px;
    background-color: aliceblue;
    font-size: 20px;
    font-family: Prompt, sans-serif;
    color:#104C7A;
}

#abt-me-basics{
    margin-right: 1%;
    margin-bottom: 2.5%;
    width: 49%;
}

#abt-me-likes{
    margin-left: 1%;
    margin-bottom: 2.5%;
    width: 49%;
}
#abt-me-hobbies{
    margin-right: 1%;
    margin-bottom: 2.5%;
    width: 49%;
}

#abt-me-dislikes{
    margin-left: 1%;
    margin-bottom: 2.5%;
    width: 49%;
}
#abt-me-activities{
    margin-right: 1%;
    margin-bottom: 2.5%;
    width: 49%;
}

#abt-me-songs{
    margin-left: 1%;
    margin-bottom: 2.5%;
    width: 49%;
}
#abt-me-goals{
    margin-right: 1%;
    margin-bottom: 2.5%;
    width: 49%;
}

#abt-me-ditl{
    margin-left: 1%;
    margin-bottom: 2.5%;
    width: 49%;
}

/* WIP STYLES GO HERE */

#wip{
    background-color:#a6d5b7;
    height: 100%;
    width: 100%;
}

#wip-title{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 60px;
    color:#1a452a;
    font-family: Prompt, sans-serif;
    background-color:#CAF8D7;
    width: 1280px;
    padding: 20px;
    padding-left: 25px;
    animation: blinker 0.8s linear;
    animation-iteration-count: 3;
}

@keyframes blinker {
    50% {opacity: 0.2;}
  }

.wip-text{
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 32px;
    color:#306b47;
    font-family: Prompt, sans-serif;
    animation: fadein 4.8s linear;
}

.wip-done-pages{
    margin: 30px;
    margin-left: 70px;
    font-size: 32px;
    color:#306b47;
    font-family: Prompt, sans-serif;
    animation: fadein 4.8s linear;
}

@keyframes fadein{
    0% {opacity:0}
    50% {opacity:0}
    80% {opacity:1}
    100% {opacity:1}
}

/* CONTACT PAGE GOES BELOW HERE */

#contact-title{
    color:#0d3c1f;
    margin-top: 50px;
    margin-left: 60px;
    font-size: 100px;
    font-weight: bold;
    font-family: Prompt, sans-serif;
    background-color:rgb(240, 255, 242);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 640px;
}

#contact-boxes-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.contact-box{
    background-color: rgb(240, 255, 242);
    width: 32%;
    padding: 20px;
    font-family: Prompt, sans-serif;
}

.contact-box-title{
    color:#14502b;
    font-size: 40px;
}

.contact-info{
    color:#327b4e;
    font-size: 24px;
}

.contact-box-subheader{
    font-size: 32px;
    color:#1c5f36;
}

.contact-box-expectations{
    font-size: 20px;
    color:#307b4d;
}

#basics{
    margin-right: 1%;
}

#instagram{
    margin-left: 1%;
    margin-right: 1%;
}

#linkedin{
    margin-left: 1%;
}

